{% extends "base_generic.html" %}


{% block content %}

<style>
    .jumbotron{
        margin-top: 5%;
        border: solid;
        border-radius: 12px;
        border-color: rgba(230, 234, 238, 0.55);
        border-width: 0.2em;
        box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 100px;
    }
    .btn-lg{
        margin-top: 4%;
        border: solid;
        border-color: #007bff;
        border-width: 0.2em;
        box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.25);
    }
    #welcome{
      font-size: 48px;
      margin-bottom: 50px;
    }
    h2{
      margin-bottom: 20px;
    }
</style>
<div class="jumbotron">
    <h1 id="welcome">Hello, meet Jason!</h1>
    <h2>Jason's Background</h2>
    <p>Jason, age 25, comes from a very wealthy family that immigrated from Belgium to Chicago, Illinois. His family did not stumble upon their wealth. It was through the culmination of several intricately planned investments and business partnerships that they acquired their wealth.
      The Morma family wealth was acquired through making various contractual deals with various Fortune 500 companies, with the largest being Amazon and Berkshire Hathaway.
    Now that they are financially stable for several generations of their family, the Morma's have begun to enjoy a leisurely lifestyle that revolves around some productivity, but mostly around enjoying life and self fulfillment.
    Jason is a scholarly genius born and raised in the small town of Leuven, Belgium. He has a PhD in Mathematics from Stanford University, an honorary PhD in Biomechanics awarded from the University of Chester, as well as Astrophysics awarded to him from the University of Cambridge for his contributions to several large medical breakthroughs, space exploration contributions to NASA, and financial contributions.
  However, Jason's interests lie mostly in critiquing and funding movies. Because of this, he was immediately interested in Movie Genie and what this project aims to do. Additionally, since self fulfillment is one of his main goals in life, he has
developed a liking to providing assistance through advice and critical feedback to those he's helping. Having stumbled upon our website, he aims to give us the most useful feedback he possibly can to ensure success for Movie Genie.

    </p>
    <br/>
    <h2>Jason's Story</h2>
      <p>Jason's experience with some of the greatest producers throughout the world has given him the knowledge to help up-and-coming producers with their films; nearly ensuring success.
        He is incredibly passionate in all of his work, and is always looking for ways to improve existing resources, or make ground-breaking, new resources for the world to use and enjoy.
        With the extensive amount of experience and knowldge that Jason possesses, he is more than qualified and confident in his abilities to provide useful suggestions towards the goals that Movie Genie has in mind.

       </p>
       <p>Additionally, Jason's knowledge and experience with mathematics will be able to provide fully optimized solutions. With his extensive knowledge in this area, he will be able to determine the average time each user spends on a certain page of Movie Genie's pages.
        This information is critical for figuring out what the users are looking at, searching for, and what movies or what movie genres are mostly being watched. This type of user data collection will be able to prove or disprove the functionality of some features
        looking to be implemented on Movie Genie's site. From Jason's perspective of utmost efficiency, being able to implement a "most watched", "most searched", or "best ratings/reviews" tabs would help users come to a conclusion on the whole reason they chose Movie Genie,
        to look for a movie they would potentially be interested in watching.</p>
       <br/>
    <h2>Jason's Story Continued</h2>
    <p>Our primary target audiences are both movie advocates who enjoy various aspects of film and casual movie enjoyers. We plan on devoloping a system that is
    consistent for the user such that all searchable aspects of a movie can be utilized in our application as one central hub for the user. Our system is planning on being open-source where a
    repository will be available for various developers to contribute to their own versions of the product. Among the administrative and baseline users, Jason has accounts with permissions to both. Some features he would like to
    implements are: ways to sort existing movies, a movie tracker that has kept knowledge of the movies individual accounts have watched, and a way to rate movies to give other users a more accurate review of how good or bad a movie is.</p>
    <p><a class="btn btn-primary btn-lg" href="user_analysis" role="button">Meet The Others</a></p>
  </div>

{% endblock %}
